
.SuForm{
    margin: 0 auto;
    max-width: 587.52px;
    color: #1c1c1c;
}

.SuForm-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F1C3F2;
    height: 66px;
    width: 587.52px;
    border-radius: 16px;

}

.form-control{
    background-color: #F1C3F2;
    height: 66px;
    width: 513.22px;
    border: none;
}

.formIcon{
    height: 38px;
    width: 38px;
    background-color: #F1C3F2;
    margin-left: 10px;
    margin-right: 10px;
}

.form-text{
    color: orangered;
    font-size: 9px;
}

.SuButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    height: 55px;
    width: 130px;
    color: #1c1c1c;
}

.SuHr {
    border: none;
    height: 2px;
    background-color: #a4a4a4;
    margin: 40px 40px 35px 40px;
}

.LiForm{
    margin: 0 auto;
    max-width: 587.52px;
    color: #1c1c1c;
}

.LiForm-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F1C3F2;
    height: 66px;
    width: 587.52px;
    border-radius: 16px;

}

.form-control{
    background-color: #F1C3F2;
    height: 66px;
    width: 513.22px;
    border: none;
}

.formIcon{
    height: 38px;
    width: 38px;
    background-color: #F1C3F2;
    margin-left: 10px;
    margin-right: 10px;
}

.form-text{
    color: orangered;
    font-size: 9px;
}

.LiButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    height: 55px;
    width: 130px;
    color: #1c1c1c;
}

.heroCardBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heroCard {
    width: 997px;
    height: 561px;
    background-color: #EFC4F2;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.heroCardbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-left: 40px;
    background: linear-gradient(to top, #000000, #19172500);
    border-radius: 20px;
}

.smallCard{
    height: 209px;
    width: 345px;
    background-image: url("");
    background-color: #EFC4F2;
    border-radius: 20px;
}

.smlLikeBtn{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    padding: 36px 24px 36px 24px;
    }

.carousel-item > .col-md-3 {
    flex: 1 0 25%; /* Ensures 4 items per slide */
}

@media (max-width: 768px) {
    .carousel-item > .col-md-3 {
        flex: 1 0 50%; /* 2 items per slide on smaller screens */
    }
}

@media (max-width: 576px) {
    .carousel-item > .col-md-3 {
        flex: 1 0 100%; /* 1 item per slide on extra small screens */
    }
}
.searchBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 36px 24px 36px 24px;
}

.navFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1342px;
}

.navImg{
 width: 134px;
 height: 34px;
}

.leftNavBar{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 24px;
}

.rightNavBar{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 24px;
}

.searchBorder{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #EFC4F2;
    Height: 36px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 14px;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 36px;
    padding-left: 36px;
  }

#active {
    color: #ffffff;
    font-weight: bold;
  }

.footerCol{
    display: flex;
    flex-direction: row;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.socialImg{
    height: 52px;
    width: 52px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Look at console */
.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  animation-name: launch;
  animation-duration: 4s;
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1{
    color: white;
    margin-bottom: 50px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 20px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FF6229;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #FF5415;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #FF7F50;
  text-decoration: none;
}
.form .login-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #FF7F50;
}

#create-username.error {
  color: red;
}

#create-password.error {
  color: red;
}

#create-email.error {
  color: red;
}